<div class="dropdown">
          <button class="btn fw-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Ordenar por</button>
          <ul class="dropdown-menu">
            <%= link_to 'Por defecto', category_path(@category), class: "dropdown-item" %>
            <%= link_to 'Precio Ascendente', order_path(@category, sort: 'price_asc'), class: "dropdown-item" %>
            <%= link_to 'Precio Descendente', order_path(@category, sort: 'price_desc'), class: "dropdown-item" %>
          </ul>
        </div>
