<div class="d-none d-lg-flex position-fixed bottom-0 end-0 z-2">
  <div class="d-flex align-items-center">
  <button class="d-flex align-items-center gap-1 bg-primary text-light border-0 rounded-3 ps-5 pe-4 py-1 position-relative"><%= t('help') %></button>
    <div class="display-6 position-absolute text-light ms-4">•</div>
  </div>
  <div class="shadow px-4 py-3 rounded-3 m-3 d-flex"><%= image_tag('logo.png', alt: 'Logo') %></div>
</div>
