<div class="d-flex d-lg-none skew-y-10deg w-100 top-n12 h-25 bg-primary-gradient rounded-end-5 position-absolute mb-5 align-items-end">
  <div class="skew-y-n10deg position-relative d-flex mx-4 pb-4 pb-md-5 mb-4 mb-sm-5 justify-content-between w-100">
    <%= image_tag('logo_secondary.png', alt: 'PlanIT logo') %>
    <%= image_tag('menu.png', alt: 'navbar') %>
  </div>
</div>
