<div class="d-flex mx-lg-5 mt-5">
  <% image_url = product.image.attached? ? product.image : 'no_product.jpeg' %>
  <%= image_tag(image_url, class: 'img-fluid rounded me-3', width: '110px', height: '100px', alt: 'Product picture') %>
  <div class="d-flex flex-column">
    <p class="text-dark m-0"><%= "#{ product.provider.name.upcase } | #{ product.name }" %></p>
    <% if additionals.any? { |additional| additional.description == 'Agregar una tarjeta con mensaje' } %>
      <p class="text-secondary fw-light m-0 fs-12px"><%= t('order.with_personalization') %></p>
    <% end %>
  </div>
</div>
