@import 'custom_variables.scss';
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';

* {
  font-family: 'poppins';
  text-decoration: none !important;
}

.bg-primary-gradient {
  background: linear-gradient(46.99deg, $primary -4.4%, #62D9FF 120.42%);
}

.skew-y-10deg {
  transform: skewY(10deg);
}

.skew-y-n10deg {
  transform: skewY(-10deg);
}

.top-n12 {
  top: -12%;
}

.letter-spacing-n1px {
  letter-spacing: -1px;
}

.line-height-130 {
  line-height: 130%;
}

.text-transparent {
  color: transparent
}

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}

.bottom-140px {
  bottom: 140px;
}

.border-primary-gradient {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(46.99deg, $primary -4.4%, #62D9FF 120.42%);
  border-image-slice: 1;
}

.fs-12px {
  font-size: 12px;
}

.w-50px {
  width: 50px;
}

@include media-breakpoint-up(lg) {
  .fs-lg-2 {
    font-size: 35px;
  }

  .fw-lg-medium {
    font-weight: 500 !important;
  }

  .fw-lg-normal {
    font-weight: 400 !important;
  }
}

@include media-breakpoint-down(lg) {
  .position-lg-static {
    position: static !important;
  }

  .fs-lg-12px {
    font-size: 12px;
  }

  .bg-lg-custom-gray {
    background-color: rgba(251, 251, 251, 1) !important;
  }

  .bg-lg-white {
    background-color: white !important;
  }
}
