<div class="form-check form-switch mb-2 d-flex justify-content-start ms-3">
  <h4>
    <input class="form-check-input" type="checkbox" role="switch" data-action="change->counter#updateTotal" data-counter-target="checkbox" data-price="<%= additional.price %>" %>
  </h4>
  <label class="form-check-label d-flex flex-column mt-1 ms-3">
    <p class="m-0"><%= additional.description %></p>
    <% if additional.price == 0 %>
      <p class="m-0 fs-12px fw-light"><%= t('product_show.no_additional_cost') %></p>
    <% else %>
      <p class="m-0 fs-12px fw-light"><%= "$#{ additional.price.to_s } #{ t('product_show.additional') }" %></p>
    <% end %>
  </label>
</div>
